#root {
    margin: 0 auto;
    text-align: center;
    padding:0px 200px;
    backdrop-filter: blur(10px);
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

button.close {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 4px 20px;
    margin: 4px;
    color: red;
    border-color:orangered;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: aliceblue;
    cursor: pointer;
    transition: border-color 0.25s;
}

    button.close:hover {
        color: red;
        background-color: darkgray;
        border-color: red;
    }

.modal {
  position: relative;
  background-color: #fff;
  width: 500px;
  height: 200px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 15px;
  overflow: hidden;
  margin: 0 15px 160px;
  font-size:16px;
}

.modal .footer {
  width: 100%;
  height: 60px;
  background-color: rgb(243, 244, 246);
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 5px 1px;
  flex-direction: row-reverse;
}

.modal-wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter:drop-shadow(10px 10px 50px black);
  backdrop-filter:brightness(50%) grayscale(40%);
  z-index: 9;
  width: 100%;
  min-height: 100vh;
}

label{
    color: black;
    padding:0px 5px 0px 5px;
}

table{
    
}